* {
    box-sizing: border-box;
}
body {
    font-size: 40pt;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 75%;
    width: 80%;
    padding: 20px;
    background-color: darkgray;
}

.display {
    width: 100%;
    text-align: center;
    padding: 20px 5px 10px;;
    border: 2px solid darkslategray;
    background-color: gray;
    font-size: 56pt;
}
.buttonPanel {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 10px;
}
.mathPanel {
    width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.registerOperations{
    font-size: 32pt;
    width: 25%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.button {
    width: 24%;
    height: 18%;
    text-align: center;
    padding: 10px;
    border: 1px solid darkslategray;
    background-color: lightgray;
}

.regButton {
    height: 23%;
    width: 95%;
    padding: 10px;
    background-color: rgb(0,139,139);
    border: 1px solid darkslategray;

    display: flex;
    justify-content: center;
    align-items: center;
}

.equalsButton {
    width: 100%;
}